

.WuesteBgrnd{ background-color: gold;}
.JungelBgrnd{   background-color: lawngreen;}
.ArktisBgrnd{    background-color: deepskyblue;}
.BergeBgrnd{    background-color: grey;}




canvas {
    /*background-image: url("Hintergrund.jpg");*/
    display: block;
    margin: 0 auto;
}

.position
{
    border: black 0px solid;

    width: 350px;
    height: 320px;
    position:absolute;

    right: 0;
    top: 0;

    background: transparent;
    margin-top: 20px;
    margin-right: 20px;
}

body
{
    background-image: url("Hintergruende/Arktis.jpg");
}

/*Play_button*/
.play_button
{
    background-color: #4CAF50;
    height: 70px;
    width: 180px;

    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;

    padding: 15px 25px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 9px #999;

    margin-top: 10px;

    /*Nich markierbat*/
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
}
.play_button:hover {background-color: #3e8e41}

.play_button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px grey;
    transform: translateY(4px);

    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
}
/*End_Play_button*/

/*General Table*/
table
{
    background-color: lightgreen;
    border: grey 5px solid;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
/*End_General Table*/

input
{
    text-align: center;
    font-size: 20px;
    width: 100px;
}
