
.WuesteBgrnd{ background-color: gold;}
.JungelBgrnd{   background-color: lawngreen;}
.WasserBgrnd{    background-color: blue;}




canvas {
/*background-image: url("Hintergrund.jpg");*/
display: block;
margin: 0 auto;
}
        
        /*Style_Christoph_startbox*/
 .position
{
    border-color: black;
    border-style: solid;
    border-width: medium;
   
    width: 350px;
    height: 320px;
    position:absolute;
   
    right: 0;
    top: 0;
    
    background-color: lightgray;
    margin-top: 20px;
    margin-right: 20px;
    
    
}

 body
 {
     background-image: url("Hintergrund.jpg");
 }


/*Play_button*/

.play_button
{
    
    
    background-color: #4CAF50;
    font-size: 5;

   
    
    height: 70px;
    width: 200px;
   
    
    
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    
    
    padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 9px #999;
    
    margin-top: 10px;
    
    
   
    
    /*Nich markierbat*/
    -ms-user-select: None;
 -moz-user-select: None;
 -webkit-user-select: None; 
    
    
}
.play_button:hover {background-color: #3e8e41}

.play_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px grey;
  transform: translateY(4px);
    
    
    
-ms-user-select: None;
 -moz-user-select: None;
 -webkit-user-select: None; 
}




/*End_Play_button*/


/*General Table*/

table
{
        background-color: lightgreen;
    
        border-style: solid;
        border-width: 10px;
        border-color: grey;
    
    font-size: 20px;
}
tr
{
    
}

td
{
}

/*End_General Table*/




.center
{
}
input
{
    font-size: 20px;
    width: 75px;
}
      /*Ende Style Christoph*/  
        
        
